<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="net.oneplus.widget" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="net.oneplus.weather.permission.UPDATE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_opwidget" android:label="@string/app_name" android:name="net.oneplus.widget.BaseApplication" android:supportsRtl="true" android:theme="@style/AppTheme">
        <service android:name="net.oneplus.widget.service.ProcessService"/>
        <receiver android:label="@string/app_name" android:name="net.oneplus.widget.appwidget.WeatherWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_widget_provider"/>
        </receiver>
        <receiver android:label="@string/app_name" android:name="net.oneplus.widget.appwidget.WeatherClockWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_clock_widget_provider"/>
        </receiver>
        <receiver android:label="@string/app_name" android:name="net.oneplus.widget.appwidget.ClockWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/clock_widget_provider"/>
        </receiver>
        <receiver android:exported="true" android:name="net.oneplus.widget.appwidget.WeatherDataReceiver">
            <intent-filter>
                <action android:name="net.oneplus.weather.receiver.update"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="net.oneplus.widget.appwidget.WeatherExistReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="action_click"/>
                <action android:name="action_click_weather"/>
                <action android:name="action_click_clock"/>
            </intent-filter>
        </receiver>
        <service android:name="net.oneplus.widget.service.UpdateWidgetService"/>
    </application>
</manifest>